$boldFont: 800 16px "Figtree", sans-serif;
$font: 600 12px "Figtree", sans-serif;
$primary-color: hsl(47, 88%, 63%);
$white-color: hsl(0, 0%, 100%);
$gray-color: hsl(0, 0%, 50%);
$black-color: hsl(0, 0%, 7%);
